# Compute average idle consumption 
When noting is running on the machine and when only Docker is running

In [1]:
%load_ext autoreload
%autoreload 2

from results_processor import load_idle_recordings, get_base_consumption

In [2]:
measurements, timestamps = load_idle_recordings()

In [3]:
measurements

,IA Cores Power [W],Total DRAM Power [W],GPU Rail Powers (avg) [W],timestamp
0,19.305,1.294,0.278,2024-10-27 19:41:47.826
1,23.609,1.517,0.278,2024-10-27 19:41:47.889
2,23.609,1.517,0.278,2024-10-27 19:41:47.951
3,14.698,0.901,0.278,2024-10-27 19:41:48.061
4,8.041,0.689,0.278,2024-10-27 19:41:48.170
...,...,...,...,...
6669,15.623,0.970,0.245,2024-10-27 19:54:09.844
6670,13.997,0.730,0.001,2024-10-27 19:54:10.047
6671,15.745,0.902,0.000,2024-10-27 19:54:10.126
6672,15.745,0.902,0.000,2024-10-27 19:54:10.188
6673,13.850,0.855,0.000,2024-10-27 19:54:10.283

In [4]:
timestamps

   timestamp_name            timestamp_value
0      idle state 2024-10-27 19:47:27.353483
1  Docker running 2024-10-27 19:53:08.312752

In [5]:
get_base_consumption("idle state")

   Total DRAM Power [W]  IA Cores Power [W]  GPU Rail Powers (avg) [W]
0               0.63853            6.756814                   0.267375

In [6]:
get_base_consumption("Docker running")

   Total DRAM Power [W]  IA Cores Power [W]  GPU Rail Powers (avg) [W]
0              0.661051            7.011748                   0.255465